﻿@model Supplier.Portal.ViewModels.Dashboad.DashboardViewModel

<h3>Dashboard</h3>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="row">
    <div class="col-sm-12">
        <h3>Todays: Import Stats</h3>
        @Html.LabelFor(c => Model.FileUploadStats.FilesProcessed) : @Html.DisplayFor(c => Model.FileUploadStats.FilesProcessed)<br />
        @Html.LabelFor(c => Model.FileUploadStats.SkusUpdated) : @Html.DisplayFor(c => Model.FileUploadStats.SkusUpdated)<br />
        @Html.LabelFor(c => Model.FileUploadStats.ErroneousFiles) : @Html.DisplayFor(c => Model.FileUploadStats.ErroneousFiles)<br/>
        @Html.LabelFor(c => Model.OrderStats.PendingOrders) : @Html.DisplayFor(c => Model.OrderStats.PendingOrders)<br/>
        @Html.LabelFor(c => Model.OrderStats.OrdersBeingProcessed) : @Html.DisplayFor(c => Model.OrderStats.OrdersBeingProcessed)<br />
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-sm-12">
        <h3>File Import Logs for: @Html.DisplayFor(c => Model.FileUploadStats.ProcessDate)<br /></h3>
        <table class="table table-condensed table-bordered table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FileImports.ElementAt(0).LogId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileImports.ElementAt(0).ImportDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileImports.ElementAt(0).FileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileImports.ElementAt(0).SkusUpdated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileImports.ElementAt(0).ErrorDescription)
                </th>
            </tr>

            @foreach (var item in Model.FileImports)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LogId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImportDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SkusUpdated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ErrorDescription)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<hr/>

@*<div class="row">
    <div class="col-sm-12">
        <h3>Sample Purchase Xml From Datacash</h3>
        <pre>
            @Html.Raw(Html.Encode(Model.PurchaseXml))
        </pre>
    </div>
</div>

<hr /><br />

<div class="row">
    <div class="col-sm-12">
        <h3>Sample Checkout Xml</h3>
        <pre>
            @Html.Raw(Html.Encode(Model.CheckoutXml))
        </pre>
    </div>
</div>

<hr /><br />

<div class="row">
    <div class="col-sm-12">
        <h3>Sample Payment  Xml From Mertex</h3>
        <pre>
            @Html.Raw(Html.Encode(Model.PaymentXml))
        </pre>
    </div>
</div>*@