﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Walker Greenbank Supplier Portal</title>
    @Styles.Render("~/bootstrapStyles/css")
    @Styles.Render("~/Site/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .divider-vertical {
            height:1.5em;
            margin: 1em .5em;
            border-left: .5px solid gray;
            border-right: 1px solid silver;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header col-sm-12">
                <a href="/" class="navbar-brand navbar-logo">

                    <span class="brand-title">Walker Greenbank</span>
                </a>
                <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-collapse collapse col-sm-9 pull-right">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("View in Angular", "Index", "Angular")</li>
                        <li role="presentation" class="divider-vertical"></li>
                        <li>@Html.ActionLink("Login", "Login", "User")</li>
                        <li role="presentation" class="divider-vertical"></li>
                        <li>@Html.ActionLink("Register", "Register", "User")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()
        
        <hr />
        @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
