﻿<html>
<head>
    <meta charset="utf-8" />
    <title>Colony CMS</title>
    <link href="/Images/ColonyCMS/logos/favicon.png" rel="shortcut icon" type="image/x-png" />
    <link href="/Images/ColonyCMS/logos/favicon.png" rel="icon" type="image/x-png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="title" content="Colony CMS" />
    <meta name="description" content="Colony CMS" />
    <meta name="keywords" content="colony,cms,redant,red,ant,content,management,system" />
    <meta name="dc.title" content="Colony CMS" />
    <meta name="dc.description" content="Colony CMS" />
    <meta name="dc.keywords" content="colony,cms,redant,red,ant,content,management,system" />

    <link href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/ColonyCMS/_css/styles.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/Scripts/ColonyCMS/_js/lib/tooltipster-master/css/tooltipster.css" />
    <style type="text/css">
        .ui-widget-overlay {
            background-color: #666;
            opacity: 0.5;
        }
    </style>
    <script type="text/javascript" data-main="/Scripts/ColonyCMS/_js/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js"></script>
</head>
<body>
    <div id="main"></div>
</body>
</html>