﻿@{
    Layout = "";
}
<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Walker Greenbank Supplier Portal</title>
    @Styles.Render("~/angularStyles/css")
    @Styles.Render("~/bootstrapStyles/css")
    @Styles.Render("~/toasterStyles/css")   
    @Styles.Render("~/Site/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div ng-include="'app/layout/navbar.html'"></div>

    <div class="container-fluid" style="z-index: 1">
        <div ui-view></div>
    </div>

    <toaster-container toaster-options="{'position-class': 'toast-top-right'}"></toaster-container>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularLibraries")
    @Scripts.Render("~/bundles/UIbootstrapLibraries")

    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/core")
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/widgets")
    @Scripts.Render("~/bundles/data")
    @Scripts.Render("~/bundles/settingsBlock")
    @Scripts.Render("~/bundles/exceptionBlock")
    @Scripts.Render("~/bundles/loggerBlock")
    @Scripts.Render("~/bundles/routerBlock")
    @Scripts.Render("~/bundles/securityBlock")

    @* WG Application Bundles *@
    @Scripts.Render("~/bundles/layout")    
    @Scripts.Render("~/bundles/home")
    @Scripts.Render("~/bundles/admin")
    @Scripts.Render("~/bundles/Supplier")
    @Scripts.Render("~/bundles/wgAdmin")
    @Scripts.Render("~/bundles/wgSupplierSupport")
    @Scripts.Render("~/bundles/wgCustomerSupport")
</body>
</html>