﻿@model List<Supplier.Portal.ViewModels.Role.RoleViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Roles</h3>

<br/>

@foreach (var role in Model)
{
    <div class="row">
        <div class="col-md-1">@Html.DisplayFor(modelItem => role.RoleId)</div>
        <div class="col-md-11">@Html.DisplayFor(modelItem => role.Name)</div>
    </div>
}
