﻿@model List<Supplier.Portal.ViewModels.Order.OrderViewModel>

@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <style>
        body {
            font-family: arial;
            font-size: .8em;
        }

         table {
             border-collapse: separate;
             border-spacing: 0 1em;
             background-color: white;            
         }

        td {
            padding-top: 5px;
            padding-bottom: 5px;
            vertical-align: top;
        }

        .innerTable {
            background-color: lightgray;            
        }
      

        .outOfStock {
            background-color: lightcoral;
            color: white
        }

        .inStock {
              background-color: white;
              color: black
        }

        .center {
            text-align: center
        }
    </style>
    <title>Out Of Stock Orders</title>
</head>
<body>
<div>
    <h4>The following orders have out of stock items</h4>

    <table width="100%">     
        @foreach (var order in Model)
        {
            <tr>
                <td width="15%"><strong>Order number:</strong></td>
                <td width="85%">@order.OrderNumber <td/>
            </tr>
            <tr>
                <td><strong>Order Date:</strong></td>
                <td>@order.OrderDate.ToString("dd MMM yyyy")</td>
            </tr>
            <tr>
                <td><strong>Customer:</strong></td>
                <td>@order.DeliveryCustomer.Title @order.DeliveryCustomer.FirstName @order.DeliveryCustomer.LastName</td>
            </tr>
            <tr>
                <td><strong>Address:</strong></td>
                <td>
                    @order.DeliveryCustomer.AddressLine1, @order.DeliveryCustomer.AddressLine2<br />
                    @order.DeliveryCustomer.Postcode<br />
                    @order.DeliveryCustomer.Country<br />
                </td>
            </tr>
            <tr>
                <td><strong>Email:</strong></td>
                <td>@order.DeliveryCustomer.Email</td>
            </tr>
            <tr>
                <td><strong>Telephone:</strong></td>
                <td>@order.DeliveryCustomer.Telephone</td>
            </tr>
            <tbody>
                <tr>
                    <td colspan="2">
                        <table width="100%" style="border: 1px inset">
                            <tr class="innerTable">
                                <td width="20%">Product Code</td>
                                <td>Product Name</td>
                                <td class="center" width="15%">Order Qty</td>
                                <td class="center" width="15%">Out Of Stock</td>
                                <td class="center" width="15%">Qty Available</td>
                            </tr>
                            @foreach (var orderItem in order.OrderItems)
                            {
                                <tr class="@(orderItem.OutOfStock ? "outOfStock" : "inStock")">
                                    <td>@orderItem.ProductCode</td>
                                    <td>@orderItem.ProductName</td>
                                    <td class="center">@orderItem.OrderQty</td>
                                    <td class="center">
                                        @if (@orderItem.OutOfStock)
                                        {
                                            @Html.Raw("Yes")
                                        }
                                        else
                                        {
                                            @Html.Raw("No")
                                        }
                                    </td>
                                    <td class="center">
                                        @if (@orderItem.OutOfStock)
                                        {
                                            @orderItem.QtyAvailable
                                        }                                    
                                    </td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><hr/></td>                
                </tr>
            </tbody>
        }
    </table>
</div>
</body>
</html>