﻿<div class="body-content">
    <div class="row" >
        <legend>WG Supplier Support Dashboard</legend>

        <h5>Today's Stock Update and Order Stats</h5>

        <div class="row">
            <div class="col-sm-7">
                <ul class="today-datas">
                    <li class="bred">
                        <div class="pull-left">
                            <i class="fa fa-file"></i>
                        </div>
                        <div class="datas-text pull-right">
                            <span class="bold ng-binding">{{ vm.data.FileUploadStats.ErroneousFiles }}</span> Erroneus Files
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <li class="bblue">
                        <div class="pull-left">
                            <i class="fa fa-cog"></i>
                        </div>
                        <div class="datas-text pull-right">
                            <span class="bold ng-binding">{{ vm.data.FileUploadStats.FilesProcessed }}</span> Files Processed
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <li class="bgreen">
                        <div class="pull-left">
                            <i class="fa fa-upload"></i>
                        </div>
                        <div class="datas-text pull-right">
                            <span class="bold ng-binding">{{ vm.data.FileUploadStats.SkusUpdated }}</span> Sku's Updated
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>

            <div class="col-sm-5" ng-if="vm.data && vm.data.FileImports.length > 0">
                <div class=" col-sm-12">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <th>Filename</th>
                        <th>Sku's</th>
                        <th>Error(s)</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="file in vm.data.FileImports">
                            <td>{{file.FileName}}</td>
                            <td>{{file.SkusUpdated}}</td>
                            <td>{{file.ErrorDescription}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <table>
                    <tr>
                        <td>Average Despatch Time (Days)</td>
                        <td>{{ vm.DespatchTime }}</td>
                    </tr>
                    <tr>
                        <td>OOS Orders</td>
                        <td>{{ vm.OOSOrders }}</td>
                    </tr>
                    <tr>
                        <td>Orders Retuned</td>
                        <td>{{ vm.OOSOrders }}</td>
                    </tr>
                    <tr>
                        <td>Orders Retuned</td>
                        <td>{{ vm.OrdersPickedAndCompleted }}</td>
                    </tr>
                    <tr>
                        <td>Orders Retuned</td>
                        <td>{{ vm.OrdersPickedAndNotCompleted }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="splash" ng-if="!vm.appPoolAwake">
    <div class="splash-content" style="opacity: 99.0 !important">
        <h3 class="text-center">Processing. . .</h3>
    </div>
</div>
