﻿<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-init="vm.navbarExpanded = false">
    <div class="container-fluid">
        <div class="navbar-header col-sm-12">
            <a class="navbar-brand navbar-logo" ui-sref="home">
                <span class="brand-title">Walker Greenbank</span>
            </a>
            <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <!--<div class="collapse navbar-collapse col-sm-9 pull-right" data-collapse="!vm.navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" dropdown>
                        <a class="dropdown-toggle" dropdown-toggle role="button" style="cursor: pointer !important">Menu<span class="caret"></span></a>
                        <ul class="dropdown-menu" dropdown-menu role="menu">
                            <li>
                                <a ui-sref="Admin">
                                    Admin&nbsp; <i class="fa fa-cog"></i>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="Dashboard">
                                    Dashboard&nbsp; <i class="fa fa-bar-chart-o"></i>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="home">
                                    home&nbsp; <i class="fa fa-home"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>-->
        </div>
    </div>
</div>