﻿<div class="body-content">
    <div class="row" >
        <legend>WG Customer Support Dashboard</legend>

        <div class="row">
            <div class="col-sm-3 col-sm-offset-9">
                <label> Select Supplier</label>
                <select class="input form-control input-sm"><option>Supplier</option></select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-7">
                <ul class="today-datas">
                    <li class="bgray">
                        <a ui-sref="Supplier">
                            <div class="pull-left">
                                <i class="fa fa-barcode"></i>
                            </div>
                            <div class="datas-text pull-right">
                                <span class="bold ng-binding">{{ vm.data.OrderStats.PendingOrders }}</span> Pending Orders
                            </div>
                            <div class="clearfix"></div>
                            <hr/>
                            <div class="pull-left footnote">
                                <span>{{ vm.data.OrderStats.PendingOrderItems }} Order Items</span>
                            </div>
                        </a>
                    </li>

                    <li class="borange">
                        <div class="pull-left">
                            <i class="fa fa-cogs"></i>
                        </div>
                        <div class="datas-text pull-right">
                            <span class="bold ng-binding">{{ vm.data.OrderStats.OrdersBeingProcessed }}</span> Orders Being Processed
                        </div>
                        <div class="clearfix"></div>
                        <hr/>
                        <div class="pull-left footnote">
                            <span>{{ vm.data.OrderStats.OrderItemsBeingProcessed }} Order Items</span>
                        </div>
                    </li>
                    
                    <li class="bred">
                        <div class="pull-left">
                            <i class="fa fa-hourglass-end"></i>
                        </div>
                        <div class="datas-text pull-right">
                            <span class="bold ng-binding">{{ vm.data.OrderStats.OutOfStockOrders }}</span> Out Of Stock Orders
                        </div>
                        <div class="clearfix"></div>
                        <hr/>
                        <div class="pull-left footnote">
                            <span>{{ vm.data.OrderStats.OutOfStockOrderItems }} Out Of Stock Order Items</span>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="splash" ng-if="!vm.appPoolAwake">
    <div class="splash-content" style="opacity: 99.0 !important">
        <h3 class="text-center">Processing. . .</h3>
    </div>
</div>
