﻿@model List<Supplier.Portal.ViewModels.Company.CompanyViewModel>

@{
    ViewBag.Title = "Index";
}

<h3>Companies</h3>

<br />

@foreach (var role in Model)
{
    <div class="row">
        <div class="col-md-1">@Html.DisplayFor(modelItem => role.CompanyId)</div>
        <div class="col-md-11">@Html.DisplayFor(modelItem => role.Name)</div>
    </div>
}

