﻿@model Supplier.Portal.ViewModels.User.LoggedInUserViewModel


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>User Details</h3>
<div class="row">
    <div class="col-sm-12">
        @Html.LabelFor(c => Model.Title) :  @Html.DisplayFor(c => Model.Title)<br />

        @Html.LabelFor(c => Model.FirstName) :  @Html.DisplayFor(c => Model.FirstName)<br />
        @Html.LabelFor(c => Model.LastName) : @Html.DisplayFor(c => Model.LastName)<br/>
        @Html.LabelFor(c => Model.Phone_Mobile) :  @Html.DisplayFor(c => Model.Phone_Mobile)<br />
        @Html.LabelFor(c => Model.Phone_Office) : @Html.DisplayFor(c => Model.Phone_Office)<br/>
        <hr/>
        @Html.LabelFor(c => Model.Username) :  @Html.DisplayFor(c => Model.Username)<br />
        @Html.LabelFor(c => Model.Username) : @Html.DisplayFor(c => Model.Email)<br/>
        <hr/>
        @Html.Label("User Role") :  @Html.DisplayFor(c => Model.Role.Name)<br />

        @Html.Label("Company") :  @Html.DisplayFor(c => Model.Company.Name)<br />

     
        @if (Model.Company.Suppliers.Any())
        {          
            <div class="col-sm-6 col-sm-offset-1">
                <br />@Html.Label("Suppliers") :

                @foreach (var supplier in Model.Company.Suppliers)
                {
                    <div class="row">
                        <div class="col-md-3">@Html.Label("Name") :  @Html.DisplayFor(modelItem => supplier.Name)</div>
                        <div class="col-md-9">@Html.Label("Code") : @Html.DisplayFor(modelItem => supplier.Code)</div>
                    </div>
                }

            </div>
        }
    </div>
</div>