@model List<Supplier.Portal.ViewModels.Order.OrderViewModel>

    @{
        Layout = null;
    }

    <!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html>
    <head>
        <style>
            body {
                font-family: arial;
                font-size: .8em;
            }

            table {
                border-collapse: separate;
                border-spacing: 0 1em;
                background-color: white;
            }

            td {
                padding-top: 3px;
                padding-bottom: 3px;
                vertical-align: top;
            }

            .innerTable {
                background-color: lightgray;
            }

           .innerTable {
                background-color: lightgray;            
            }
      

            .outOfStock {
                background-color: lightcoral;
                color: white
            }

            .inStock {
                  background-color: white;
                  color: black
            }

            .center {
                text-align: center
            }
        </style>

        <title>Out Of Stock Orders</title>
    </head>
    <body>
        <div>
            <h4>The following orders have out of stock items</h4>

            <table width="100%">
                @foreach (var order in Model)
                {
                    <tr>
                        <td width="15%"><strong>Order number:</strong></td>
                        <td width="85%">@order.OrderNumber </td>
                        <td />
                    </tr>
                    <tr>
                        <td><strong>Order Date:</strong></td>
                        <td>@order.OrderDate.ToString("dd MMM yyyy")</td>
                    </tr>
                    <tr>
                        <td><strong>Customer:</strong></td>
                        <td>@order.InvoiceCustomer.Title @order.InvoiceCustomer.FirstName @order.InvoiceCustomer.LastName</td>
                    </tr>
                    <tr>
                        <td><strong>Email:</strong></td>
                        <td>@order.InvoiceCustomer.Email</td>
                    </tr>
                    <tr>
                        <td><strong>Telephone:</strong></td>
                        <td>@order.InvoiceCustomer.Telephone</td>
                    </tr>
                    <tbody>
                        <tr>
                            <td width="5%"><strong>Order:</strong></td>
                            <td>
                                <table width="100%" style="border: 1px inset">
                                    <tr class="innerTable">
                                        <td width="15%">Product Code</td>
                                        <td width="15%">EAN Code</td>
                                        <td width="15%">WG Product Code</td>        
                                        <td>Product Name</td>
                                        <td class="center" width="10%">Order Qty</td>
                                        <td class="center" width="10%">Out Of Stock</td>
                                        <td class="center" width="10%">Stock Qty</td>
                                    </tr>
                                    @foreach (var orderItem in order.OrderItems)
                                    {
                                        <tr class="@(orderItem.OutOfStock ? "outOfStock" : "inStock")">
                                            <td>@orderItem.SupplierProductCode</td>
                                            <td>@orderItem.EanCode</td>
                                            <td>@orderItem.ProductCode</td>
                                            <td>@orderItem.ProductName</td>
                                            <td class="center">@orderItem.OrderQty</td>
                                            <td class="center">
                                                @if (@orderItem.OutOfStock)
                                                {
                                                    @Raw("Yes")
                                                }
                                                else
                                                {
                                                    @Raw("No")
                                                }
                                            </td>
                                            <td class="center">
                                                @if (@orderItem.OutOfStock)
                                                {
                                                    @orderItem.QtyAvailable
                                                }
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </body>
</html>