@model List<Supplier.Portal.ViewModels.Order.OrderItemViewModel>

    @{
        Layout = null;
    }

    <!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html>
    <head>
        <style>
            body {
                font-family: arial;
                font-size: .8em;
            }

            table {
                border-collapse: separate;
                border-spacing: 0 1em;
                background-color: lightgray;
            }

            td {
                padding-top: 5px;
                padding-bottom: 5px;
            }

            .innerTable {
                background-color: lightgray;
                border: 1px outset white;
            }

            .innerTable td {
                border-bottom: 1px inset white;
            }
        </style>
        <title>Picking List</title>
    </head>
    <body>
        <div>
            <h4>Picking List</h4>

            <table width="100%" class='innerTable'>
                <thead>
                    <tr>
                        <td><strong>Product Code</strong></td>
                        <td><strong>EAN Code</strong></td>
                        <td><strong>WG Product Code</strong></td>                      
                        <td><strong>Product Name</strong></td>
                        <td><strong>Order Qty</strong></td>
                        <td><strong>Stock Qty</strong></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model)
                    {
                        <tr>
                            <td>@row.SupplierProductCode</td>
                            <td>@row.EanCode</td>
                            <td>@row.ProductCode</td>
                            <td>@row.ProductName</td>
                            <td>@row.OrderQty</td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
</html>