<div id="header" class="gradient-dark">
	<a id="logo" href="#"><span></span></a>
	<div id="topnav">
		<div id="siteSelector" class="site-selector"></div>
		<!--<div id="languageSelector" class="language-selector"></div>-->
		<!--&#160;<a class="icon-cog no-text" id="colonySettings"><span>Colony Settings</span></a>
		<a class="icon-lock no-text" id="colonySecurity"><span>Security</span></a>-->
		<!--<a class="icon-envelope-alt no-text" id="colonyInbox"><span>Inbox</span></a>-->
		<div class="icon-user" id="colonyUser"><span><%=App.Colony.getCurrentUser().FirstName%> <%=App.Colony.getCurrentUser().LastName%></span></div>
	</div>
</div>
<div id="statusBar"></div>
<nav id="nav" role="navigation" class="gradient-dark ">
	<ul id="main-nav" class="shadow">
	</ul>
</nav>
<div id="container">
	<div class="inner">
		<div id="pageHeading"><h1>Welcome to Colony CMS</h1></div>
		<div id="content" class="content contentForm"></div>
	</div>
</div>