﻿@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<h4>Links</h4>

<br/>
<div class="row">
    <div class="col-sm-12">
        @Html.ActionLink("Companies", "Index", "Company")<br/>
        @Html.ActionLink("Roles", "Index", "Role")<br />
        @Html.ActionLink("Users", "Users", "User")<br />
        @Html.ActionLink("Dashboard", "Index", "Dashboard")<br/>
    </div>
</div>
