﻿<div class="body-content">
    <div class="row">
        <legend>Web Sales Dashboard &nbsp;&nbsp;<img ng-if="vm.processing" src="app/images/progressBar.gif" height="5px" /></legend>

        <h5>Search for web transactions</h5>
        <form name="searchForm" role="form" novalidate="">
            <div class="col-sm-4">
                <div class="input-group" ng-class="{'has-error':searchForm.transactionId.$invalid && searchForm.transactionId.$dirty}">
                    <input type="number" class="form-control input-sm"
                           name="transactionId"
                           required=""
                           placeholder="Search by transaction id: 376361"
                           ng-minlength="6"
                           ng-maxlength="6"
                           ng-model="vm.transactionId">
                    <span class="input-group-btn">
                        <button class="btn btn-sm btn-primary" type="button" ng-click="vm.LookupById()">Search <i class="fa fa-search"></i></button>
                    </span>                  
                </div>
                <span class="help-block has-error">
                    <span class="control-label" ng-show="searchForm.transactionId.$dirty && searchForm.transactionId.$error.required">
                        Transaction Id is required.
                    </span>
                    <span class="control-label" ng-show="searchForm.transactionId.$dirty && (searchForm.transactionId.$error.minlength || searchForm.transactionId.$error.maxlength)">
                        Transaction Id must be 6 numbers in length.
                    </span>
                </span>
            </div>

            <div class="col-sm-4">
                <div class="input-group" ng-class="{'has-error':searchForm.email.$invalid && searchForm.email.$dirty}">
                    <input type="text" class="form-control input-sm"
                           name="email"
                           required
                           ng-pattern="vm.emailFormat"
                           placeholder="Search by email: daubdolly@aol.com"
                           ng-model="vm.email">
                    <span class="input-group-btn">
                        <button class="btn btn-sm btn-primary" type="button" ng-click="vm.LookupByEmail()">Search <i class="fa fa-search"></i></button>
                    </span>             
                </div>
                <span class="has-error help-block">
                    <span class="control-label" ng-show="searchForm.email.$dirty && searchForm.email.$error.required">
                        Email is required.
                    </span>
                    <span class="control-label" ng-show="searchForm.email.$error.pattern">
                        Invalid email address
                    </span>
                </span>
            </div>
            
            <div class="col-sm-4">
                <div class="input-group" ng-class="{'has-error':searchForm.mertexRef.$invalid && searchForm.mertexRef.$dirty}">
                    <input type="text" class="form-control input-sm"
                           name="mertexRef"
                           required
                           ng-minlength="7"
                           ng-maxlength="7"
                           placeholder="Search by mertex reference: 3299018"
                           ng-model="vm.mertexRef">
                    <span class="input-group-btn">
                        <button class="btn btn-sm btn-primary" type="button" ng-click="vm.LookupByMertexRef()">Search <i class="fa fa-search"></i></button>
                    </span>
                </div>
                <span class="has-error help-block">
                    <span class="control-label" ng-show="searchForm.mertexRef.$dirty && searchForm.mertexRef.$error.required">
                        Mertext reference is required.
                    </span>
                    <span class="control-label" ng-show="searchForm.mertexRef.$error.minlength || searchForm.mertexRef.$error.maxlength ">
                        Mertext reference must be 7 numbers in length.
                    </span>
                </span>
            </div>
        </form>
    </div>

    <br />
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-sm-6">
            <table class="table table-striped table-condensed" ng-if="vm.transactionData">
                <tr>
                    <td colspan="2">
                        <button class="btn btn-primary btn-xs" ng-click="vm.ShowXml(vm.transactionData.Purchase_Xml, 'Purchase Data')">View Purchase Data&nbsp;<i class="glyphicon glyphicon-book"></i></button>
                        <button class="btn btn-primary btn-xs" ng-click="vm.ShowXml(vm.transactionData.Payment_Xml, 'Payment Data')">View Payment Data&nbsp;<i class="glyphicon glyphicon-book"></i></button>
                        <button class="btn btn-primary btn-xs" ng-click="vm.ShowXml(vm.transactionData.Checkout_Xml, 'Checkout Data')">View Checkout Data&nbsp;<i class="glyphicon glyphicon-book"></i></button>
                    </td>
                </tr>

                <tr>
                    <td width="50%">Transaction Id</td>
                    <td>{{vm.transactionData.TransactionId}}</td>
                </tr>
                <tr>
                    <td>Trnasaction Type</td>
                    <td>{{vm.transactionData.TransactionType}}</td>
                </tr>
                <tr>
                    <td>Payment Methd</td>
                    <td>{{vm.transactionData.PaymentMethod}}</td>
                </tr>
                <tr>
                    <td>Trnasaction Status</td>
                    <td>{{vm.transactionData.TransactionStatus}}</td>
                </tr>
                <tr>
                    <td>Currency</td>
                    <td>{{vm.transactionData.Currency}}</td>
                </tr>
                <tr>
                    <td>Amount Incl(Vat)</td>
                    <td>{{vm.transactionData.AmountInc | number:2 }}</td>
                </tr>
                <tr>
                    <td>Amount Excl(Vat)</td>
                    <td>{{vm.transactionData.AmountEx | number: 2 }}</td>
                </tr>
                <tr>
                    <td>Vat</td>
                    <td>{{vm.transactionData.VAT | number:2 }}</td>
                </tr>
                <tr>
                    <td>User Id</td>
                    <td>{{vm.transactionData.UserAccountId}}</td>
                </tr>
                <tr>
                    <td>Visitor Id</td>
                    <td>{{vm.transactionData.TrackedVisitorId}}</td>
                </tr>
                <tr>
                    <td>Created</td>
                    <td>{{vm.transactionData.Created | date: "dd MM yyyy h:mm:ss a"}}</td>
                </tr>
                <tr>
                    <td>Deleted</td>
                    <td>{{vm.transactionData.Deleted}}</td>
                </tr>
                <tr>
                    <td>Order Number</td>
                    <td>{{vm.transactionData.OrderNumber}}</td>
                </tr>
                <tr>
                    <td>Shop</td>
                    <td>{{vm.transactionData.Shop}}</td>
                </tr>
                <tr>
                    <td>Site</td>
                    <td>{{vm.transactionData.Site}}</td>
                </tr>
                <tr>
                    <td>Receipt Sent</td>
                    <td>{{vm.transactionData.ReceiptSent}}</td>
                </tr>
                <tr>
                    <td>Order Sendt to SOP</td>
                    <td>{{vm.transactionData.OrderSentToSOP}}</td>
                </tr>
                <tr>
                    <td>Order Status</td>
                    <td>{{vm.transactionData.OrderSopStatusDescription}}</td>
                </tr>
                <tr>
                    <td>Process Attempts</td>
                    <td>{{vm.transactionData.ProcessAttempts}}</td>
                </tr>
                <tr>
                    <td>Invoice Sent</td>
                    <td>{{vm.transactionData.InvoiceSent}}</td>
                </tr>
                <tr>
                    <td>Date Invoice Sent</td>
                    <td>{{vm.transactionData.InvoiceSentDate | date:'MM/dd/yy h:mm:ss a'}}</td>
                </tr>
            </table>
        </div>

        <div class="col-sm-6">
            <div ng-if="vm.xmlContent">
                <h4>{{vm.xmlTitle}}</h4>
                <pre>
                    {{ vm.xmlContent }}
                </pre>
            </div>
        </div>
    </div>
</div>
