﻿<div class="body-content">
    <div class="row">
        <legend>Supplier Admin Dashboard</legend>

        <div class="row">
            <div class="col-sm-12">
                <h4>Today's Stock Updates</h4>
            </div>

            <div class="col-sm-6">
                <ul class="today-datas">
                    <li class="bred">
                        <div class="pull-left">
                            <i class="fa fa-file"></i>
                        </div>
                        <div class="datas-text pull-right">
                            <span class="bold ng-binding">{{ vm.FileUploadData.FileUploadStats.ErroneousFiles }}</span> Erroneus Files
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <li class="bblue">
                        <div class="pull-left">
                            <i class="fa fa-cog"></i>
                        </div>
                        <div class="datas-text pull-right">
                            <span class="bold ng-binding">{{ vm.FileUploadData.FileUploadStats.FilesProcessed }}</span> Files Processed
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <li class="bgreen">
                        <div class="pull-left">
                            <i class="fa fa-upload"></i>
                        </div>
                        <div class="datas-text pull-right">
                            <span class="bold ng-binding">{{ vm.FileUploadData.FileUploadStats.SkusUpdated }}</span> Sku's Updated
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6">
                <div class=" col-sm-12">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <th>Filename</th>
                        <th>Sku's</th>
                        <th>Error(s)</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="file in vm.FileUploadData.FileImports">
                            <td>{{file.FileName}}</td>
                            <td>{{file.SkusUpdated}}</td>
                            <td>{{file.ErrorDescription}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h4>Order Processing</h4>
            </div>
            <div class="col-sm-7">
                <ul class="today-datas">
                    <li class="bgray">
                        <div class="pull-left">
                            <i class="fa fa-barcode"></i>
                        </div>
                        <div class="datas-text pull-right">
                            <span class="bold ng-binding">{{ vm.DashboardData.PendingOrders }}</span> Pending
                        </div>
                        <div class="clearfix"></div>
                        <hr/>
                        <div class="pull-left footnote">
                            <span>{{ vm.DashboardData.PendingOrderItems }} Items</span>
                        </div>
                    </li>

                    <li class="borange">
                        <div class="pull-left">
                            <i class="fa fa-cogs"></i>
                        </div>
                        <div class="datas-text pull-right">
                            <span class="bold ng-binding">{{ vm.DashboardData.OrdersBeingProcessed }}</span> Being Picked
                        </div>
                        <div class="clearfix"></div>
                        <hr/>
                        <div class="pull-left footnote">
                            <span>{{ vm.DashboardData.OrderItemsBeingProcessed }} Items</span>
                        </div>
                    </li>

                    <li class="bred clickable" ng-click="vm.GetOutOfStockItems()">
                        <div class="pull-left">
                            <i class="fa fa-hourglass-end"></i>
                        </div>
                        <div class="datas-text pull-right">
                            <span class="bold ng-binding">{{ vm.DashboardData.OutOfStockOrders }}</span> Out Of Stock
                        </div>
                        <div class="clearfix"></div>
                        <hr/>
                        <div class="pull-left footnote">
                            <span>{{ vm.DashboardData.OutOfStockOrderItems }} Items</span>
                        </div>
                    </li>

                    <li class="bgreen" ng-if="vm.DashboardData.InStockOrders > 0">
                        <div class="pull-left">
                            <i class="fa fa-truck"></i>
                        </div>
                        <div class="datas-text pull-right">
                            <span class="bold ng-binding">{{ vm.DashboardData.InStockOrders }}</span> Ready To Despatch
                        </div>
                        <div class="clearfix"></div>
                        <hr/>
                        <div class="pull-left footnote">
                            <span>{{ vm.DashboardData.InStockOrderItems }} Items</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row" ng-if="vm.OutOfStockData.length > 0">
        <h5><strong>Out Of Stock Orders</strong></h5>
        <div class="panel panel-info" ng-repeat="Order in vm.OutOfStockData">
            <div class="panel-heading panel-heading-small">
                Order&nbsp;{{ $index + 1 }} of {{ vm.OutOfStockData.length }}
                <span class="pull-right clickable" ng-if="vm.IsOutOfStockCollapsed" ng-click="vm.IsOutOfStockCollapsed = false"><i class="glyphicon cellCursor glyphicon-plus glyphicon-padding"></i></span>
                <span class="pull-right clickable" ng-if="!vm.IsOutOfStockCollapsed" ng-click="vm.IsOutOfStockCollapsed = true"><i class="glyphicon cellCursor glyphicon-minus glyphicon-padding"></i></span>
            </div>
            <div ng-if="!vm.IsOutOfStockCollapsed">
                <div class="panel-body">
                    <div>
                        <!-- Order Header-->
                        <div class="col-sm-5">
                            <table class="table table-condensed">
                                <caption class="text-left"><strong>Order Information</strong></caption>
                                <tr>
                                    <td>Order Number:</td>
                                    <td>{{Order.OrderNumber}}</td>
                                </tr>
                                <tr>
                                    <td>Order Date:</td>
                                    <td>{{ Order.OrderDate | date: "dd MMM yyyy"}}</td>
                                </tr>
                            </table>
                        </div>
                        <!-- Order Details -->
                        <div class="col-sm-7 table-panel">
                            <table class="table table-condensed table-hover table-striped col-lg-7">
                                <thead>
                                <tr>
                                    <th class="text-left">Product Code</th>
                                    <th class="text-left">Product Name</th>
                                    <th class="text-center">Order Qty</th>
                                    <th class="text-center">Out Of Stock</th>
                                    <th class="text-center"> Stock Qty</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="orderItem in Order.OrderItems">
                                    <td class="text-left">
                                        {{ orderItem.ProductCode }}
                                    </td>
                                    <td class="text-left">
                                        {{ orderItem.ProductName }}
                                    </td>
                                    <td class="text-center">
                                        {{ orderItem.OrderQty }}
                                    </td>
                                    <td class="text-center">
                                        <i class="glyphicon glyphicon-red glyphicon-remove" ng-if="orderItem.OutOfStock === true"></i>
                                    </td>
                                    <td class="text-center">
                                        <span ng-if="orderItem.OutOfStock === true">{{ orderItem.QtyAvailable }}</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="splash" ng-if="!vm.appPoolAwake">
    <div class="splash-content" style="opacity: 90.0 !important">
        <h3 class="text-center">Processing. . .</h3>
    </div>
</div>
