﻿<div class="modal-header">
    <button class="closeSteve" ng-click="vm.Close()">
        Close&nbsp;<i class="fa fa-times-circle"></i>
    </button>
</div>

<div class="form-horizontal">
    <div class="modal-body">
        <form name="form" name="form" role="form" ng-submit="vm.Submit()">
            <div class="row">
                <div class="col-sm-12 text-left">

                    <label class="col-sm-12 text-left">Cancellation Reason<strong>*</strong></label>
                    <br/>
                    <div class="col-sm-12">
                        <textarea autofocus class="form-control input-sm" name="reason" rows="2" ng-model="vm.Reason" maxlength="250" required>
                        </textarea>
                    </div>
                    <br/>
                    <div class="col-sm-12 text-right">
                        <button class="btn btn-primary btn-sm" type="submit">
                            Cancel Shipment
                        </button>
                    </div>
                </div>
            </div>             
        </form>
    </div>
</div>