﻿<div class="body-content">
    <div class="row">
        <h4>{{ vm.Company.Name }}: Order Shipping</h4>
        <h5>{{vm.UserFullName}}</h5>
        <hr>
    </div>

    <div class="col-sm-12" ng-if="vm.Orders">
        <div class="panel" ng-class="{true: 'panel-success', false: 'panel-default'}[vm.SelectedOrder.Shipped]">
            <div class="panel-heading panel-heading" style="padding-bottom: 5px !important">
                <div class="row">
                    <div class=" col-sm-6">
                       Order Reference: <strong>{{ vm.SelectedOrder.OrderNumber }}</strong>
                    </div>

                    <div class=" col-sm-6 text-right">
                        <strong>{{ vm.SelectedOrderIndex }}</strong>
                        <button class="btn btn-xs btn-primary" style="margin-right: 3px"
                                ng-disabled="vm.FirstRecord === true"
                                ng-click="vm.GotoPreviousOrder()">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                        </button>
                        of&nbsp;
                        <button class="btn btn-xs btn-primary"
                                ng-disabled="vm.LastRecord === true"
                                ng-click="vm.GoToNextOrder()">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                        <strong>{{ vm.OrderCount }}</strong>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-5 text-left">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <strong>Order Date:</strong>
                                </div>
                                <div class="col-sm-6">
                                    {{ vm.SelectedOrder.OrderDate | date: "dd MMM yyyy" }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <strong>Total Item Weight:</strong>
                                </div>
                                <div class="col-sm-6">
                                    {{ vm.SelectedOrder.PackageWeight }} ({{ vm.SelectedOrder.WeightCode }})
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <strong>No. Packages/Labels:</strong>
                                </div>
                                <div class="col-sm-6">
                                    {{ vm.SelectedOrder.NumberOfLabels }}
                                </div>
                            </div>
                            <br/>
                            <div class="row" ng-show="vm.SelectedOrder.Shipped">
                                <div class="col-sm-12">
                                    <strong>Tracking Number(s):</strong>
                                </div>
                                <div class="row" ng-repeat="trackingNumber in vm.SelectedOrder.TrackingNumbers">
                                    <div class="col-sm-5 col-sm-offset-1">
                                        Package {{ $index + 1 }} of {{ vm.SelectedOrder.TrackingNumbers.length }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ trackingNumber }}
                                        <button class="btn btn-xs btn-danger"
                                                ng-click="vm.CancelShipping(trackingNumber)" tooltip="Cancel shipment">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 text-left" style="border-left: 1px solid silver">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-3">
                                    <strong>Ship From:</strong>
                                </div>
                                <div class="col-sm-9">
                                    {{ vm.SelectedOrder.Supplier.Name }} <br/>
                                    {{ vm.SelectedOrder.Supplier.AddressLine1 }}, {{ vm.SelectedOrder.Supplier.AddressLine2 }}<br/>
                                    {{ vm.SelectedOrder.Supplier.Town }} {{ vm.SelectedOrder.Supplier.County }}<br/>
                                    {{ vm.SelectedOrder.Supplier.Postcode }}<br/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 text-left">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-3">
                                    <strong>Ship To:</strong>
                                </div>
                                <div class="col-sm-9">
                                    {{ vm.SelectedOrder.DeliveryAddress.Title }} {{ vm.SelectedOrder.DeliveryAddress.FirstName }} {{vm.SelectedOrder.DeliveryAddress.LastName }}<br/>
                                    {{ vm.SelectedOrder.DeliveryAddress.AddressLine1 }}, {{ vm.SelectedOrder.DeliveryAddress.AddressLine2 }}<br/>
                                    {{ vm.SelectedOrder.DeliveryAddress.Town }} {{ vm.SelectedOrder.DeliveryAddress.County }}<br/>
                                    {{ vm.SelectedOrder.DeliveryAddress.Postcode }}<br/>
                                    {{ vm.SelectedOrder.DeliveryAddress.Country }}<br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <!--<div class="col-sm-6">
                        <button class="btn btn-primary btn-xs" ng-if="vm.SelectedOrder.Shipped">
                            Despatch Label
                            <i class=" glyphicon glyphicon-download">
                            </i>
                        </button>
                        <button class="btn btn-primary btn-xs" ng-if="vm.SelectedOrder.Shipped">
                            Despatch Note
                            <i class="glyphicon glyphicon-download"></i>
                        </button>
                    </div>-->
                    <div class="col-sm-12 text-right">
                        <button class="btn btn-danger btn-sm">
                            Exit <i class="fa fa-share"></i>
                        </button>
                    </div>
                </div>
                <hr />
                <!-- Order Items -->
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped table-condensed table-bordered">
                            <caption class="text-left">&nbsp;<h5>Item's on the order</h5></caption>
                            <thead>
                            <th>Product Code</th>
                            <th>EAN Code</th>
                            <th>Product Name</th>
                            <th>Weight</th>
                            <th>Barcode</th>
                            <th></th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in vm.SelectedOrder.OrderItems">
                                    <td>{{product.SupplierProductCode}}</td>
                                    <td>{{product.EanCode}}</td>
                                    <td>{{product.ProductName}}</td>
                                    <td>{{product.Weight}} ({{ vm.SelectedOrder.WeightCode }})</td>
                                    <td>
                                        <input type="number" class="input input-sm" style="width: 200px; height: 25px; padding: .5px 2.5px" placeholder="enter or scan product code"
                                               ng-disabled="vm.SelectedOrder.Shipped === true"
                                               ng-model="product.UserBarcode"
                                               ng-change="vm.ValidateOrder()" />
                                    </td>
                                    <td class="text-center">
                                        <i ng-if="product.UserBarcode && vm.SelectedOrder.Shipped === false" class="fa fa-check text-success" style="font-size: 1.5em" tooltip="Barcode validated"></i>
                                        <i ng-if="!product.UserBarcode && vm.SelectedOrder.Shipped === false" class="fa fa-spin fa-spinner text-danger" style="font-size: 1.5em" tooltip="Enter Barcode"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-2">                       
                        <button class="btn btn-warning btn-sm" ng-show="vm.SelectedOrder.Shipped === false" ng-click="vm.ResetOrder()">
                            Re-pick Order
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                    </div>
                    <div class="col-sm-10 text-right" ng-show="vm.SelectedOrder.OrderValid && vm.SelectedOrder.Shipped === false">
                        <button class="btn btn-primary btn-sm" ng-click="vm.ShipOrder(vm.SelectedOrder)">
                            Ship Order
                            <i class="fa fa-truck"></i>
                        </button>                      
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="splash" ng-if="!vm.appPoolAwake">
        <div class="splash-content">
            <h3 class="text-center">
                Processing. . .&nbsp;&nbsp;<img src="app/images/progressBar.gif" height="5px"/>
            </h3>
        </div>
    </div>

    <div class="user-modal" ng-if="vm.Printing">
        <div class="user-modal-content">
            <h4 class="text-center">
                {{ vm.SelectedOrder.NumberOfLabels }} Label and 1 despatch note document sent to Printer.
            </h4>
            <hr/>
            <div class="row">
                <div class="col-sm-6">
                    Did the documents print successfully?
                </div>
                <div class="col-sm-6 text-right">
                    <button class="btn btn-success btn-xs" ng-click="vm.PrinterResult(true)">
                        Yes
                    </button>
                    <button class="btn btn-danger btn-xs" ng-click="vm.PrinterResult(false)">
                        &nbsp;No&nbsp;
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>