﻿<span class="help-block" ng-message="required">This field is required.</span>
<span class="help-block" ng-message="date">This field does not contain a valid date.</span>
<span class="help-block" ng-message="number">This field must be a number.</span>
<span class="help-block" ng-message="minlength">Your field is too short</span>
<span class="help-block" ng-message="maxlength">Your field is too long</span>
<span class="help-block" ng-message="wdRequiredNumber">This field is required and must be a valid whole number.</span>
<span class="help-block" ng-message="editable">Please select a valid record from the search results.</span>
<span class="help-block" ng-message="min">Please enter a number above 0</span>