﻿<select class="form-control input-sm" ng-model="vm.pageSize" ng-change="vm.pageSizeChanged()">
    <option value="10">Show 10 Records</option>
    <option value="25">Show 25 Records</option>
    <option value="50">Show 50 Records</option>
    <option value="100">Show 100 Records</option>
</select>