﻿<p>
    Showing
    <span ng-if="vm.page == 1&& vm.total >0">1</span>
    <span ng-if="vm.total ==0">0</span>
    <span ng-if="vm.page != 1">{{vm.pageSize * (vm.page - 1) + 1}}</span>
    to
    <span ng-if="vm.page == vm.totalPages">{{vm.total}}</span>
    <span ng-if="vm.page != vm.totalPages">{{vm.pageSize * vm.page}}</span>
    of {{vm.total}} records
</p>
