﻿<br/>
<div class="col=col-sm-12">
    <div class="col-sm-8">
        <form class="form-inline">
            <div class="row">
                <div class="form-group" id="pageSize">
                    <label style="margin-right: 2.8em">Year : </label>
                    <select class="form-control input-sm"
                            ng-change="vm.yearChanged()"
                            ng-model="vm.selectedYear"
                            ng-options="i as i for i in vm.yearsForDropDown">
                        <option ng-selected="vm.selectedYear == i" style="display: none"></option>
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top: .3em">
                <div class="form-group" id="pageSize" ng-if="vm.holidayRequests.length >0">
                    <label for="pageSize">Page Size : </label>
                    <page-size/>
                </div>
            </div>
        </form>
    </div>
    <div class="alert alert-info col-sm-4" ng-if="vm.holidayRequests.length >0">
        <span style="font-weight: bold">{{vm.user.AllowanceYear}} Allowance:</span><br/>
        <span>{{vm.user.RemainingAllowance | number : 1 }} of ({{vm.user.Allowance}}) days remaining</span>
        <span ng-if="!vm.user.BirthdayBooked">+ 1 day Birthday allowance</span>
    </div>
</div>
<br/>
<div class="row" ng-if="vm.holidayRequests.length == 0">
    <br/>
    <div class="col-sm-8 col-sm-offset-2">
        <div class="alert alert-info">
            <p>You have no holiday requests</p>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-lg-12">
        <div ng-if="vm.holidayRequests.length >0">
            <table class="table table-bordered table-condensed table-striped" id="Users-table">
                <thead>
                <tr>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>No. Days {{vm.user.AllowanceYear}}</th>
                    <th>Request Date</th>
                    <th>Line Manager Approval</th>
                    <th>Second Line Approval</th>
                    <th style="width: 80px">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="request in vm.holidayRequests  | orderBy:'+FromDate'">
                    <td>
                        {{ request.FromDate | date: "dd/MM/yyyy" }} -
                        <span ng-if="request.DayPartFromEnum===0">AM</span>
                        <span ng-if="request.DayPartFromEnum===1">PM</span>
                        <span ng-if="request.DayPartFromEnum===2">Full Day</span>
                    </td>
                    <td>
                        {{ request.ToDate | date: "dd/MM/yyyy" }} -
                        <span ng-if="request.DayPartToEnum===0">AM</span>
                        <span ng-if="request.DayPartToEnum===1">PM</span>
                        <span ng-if="request.DayPartToEnum===2">Full Day</span>
                    </td>
                    <td>{{request.NumberOfDaysYear1}}</td>
                    <td>{{ request.RequestDate | date: "dd/MM/yyyy" }}</td>
                    <!-- 1st Status -->
                    <td>
                        <div ng-switch on="request.Status">
                            <!--Created-->
                            <div ng-switch-when="0">
                                <span>Requested</span>
                            </div>
                            <!--Requested-->
                            <div ng-switch-when="1">
                                <span>Requested</span>
                            </div>
                            <!--Approved-->
                            <div ng-switch-when="2">
                                <span class="colorGreen">Approved</span>
                                <span class="colorGreen">{{ request.DateActioned | date: "dd/MM/yyyy" }}</span>
                            </div>
                            <!--Declined-->
                            <div ng-switch-when="3">
                                <span class="colorRed">Declined</span>
                                <span class="colorRed">{{ request.DateActioned | date: "dd/MM/yyyy" }}</span>
                                <span class="glyphicon glyphicon-info-sign"
                                          ng-if="request.DeclineMessageFormLineManger"
                                          tooltip="{{request.DeclineMessageFormLineManger}} "></span>
                            </div>
                            <!--CancellationRequested-->
                            <div ng-switch-when="4">
                                <span class="colorGreen">Approved</span>
                                <span class="colorGreen">{{ request.DateActioned | date: "dd/MM/yyyy" }}</span>
                                <span> - Cancellation Requested</span>
                            </div>
                            <!--CancellationDeclined-->
                            <div ng-switch-when="5">
                                <span class="colorGreen">Approved</span>
                                <span class="colorGreen">{{ request.DateActioned | date: "dd/MM/yyyy" }}</span>
                                <span class="glyphicon glyphicon-info-sign"
                                          tooltip="{{request.DeclinedCancelHolidayRequestMessageFromAdmin}}"></span>
                                <span> - Cancellation Declined</span>
                            </div>
                        </div>
                    </td>
                    <!-- End -->
                    <!-- 2nd Status -->
                    <td>
                        <div ng-if="!request.SecondLineApprovalRequired">
                            <div ng-switch on="request.SecondLineStatus">
                                <div ng-switch-when="3">
                                    <!--Declined-->
                                    <div ng-if="request.SecondLineDateActioned">
                                        <span class="colorRed">Declined</span>
                                        <span class="colorRed">{{ request.SecondLineDateActioned | date: "dd/MM/yyyy" }}</span>
                                        <span class="glyphicon glyphicon-info-sign"
                                                  ng-if="request.DeclineMessageFormSecondLineManger"
                                                  tooltip="{{request.DeclineMessageFormSecondLineManger}} "></span>
                                    </div>
                                    <!--Declined-->
                                    <div ng-if="!request.SecondLineDateActioned">
                                        <span>Not Required</span>
                                    </div>
                                </div>
                                <div ng-switch-default>
                                    <span>Not Required</span>
                                </div>
                            </div>
                        </div>
                        <div ng-if="request.SecondLineApprovalRequired">
                            <div ng-switch on="request.SecondLineStatus">
                                <div ng-switch-when="0">
                                    <!--Created-->
                                    <span>Requested</span>
                                </div>
                                <div ng-switch-when="1">
                                    <!--Requested-->
                                    <span>Requested</span>
                                </div>
                                <div ng-switch-when="2">
                                    <!--Approved-->
                                    <span class="colorGreen">Approved</span>
                                    <span class="colorGreen" ng-if="request.SecondLineApprovalRequired">
                                            {{ request.SecondLineDateActioned | date: "dd/MM/yyyy" }}
                                        </span>
                                </div>
                                <div ng-switch-when="3">
                                    <!--2nd line Declined-->
                                    <!--1nd line Approved-->
                                    <div ng-if="request.Status!=vm.StatusEnum.Declined">
                                        <span class="colorRed">Declined</span>
                                        <span class="colorRed"
                                                  ng-if="request.SecondLineApprovalRequired && request.SecondLineStatus===vm.StatusEnum.Declined">
                                                {{ request.SecondLineDateActioned | date: "dd/MM/yyyy" }}
                                            </span>
                                        <span class="glyphicon glyphicon-info-sign"
                                                  ng-if="request.DeclineMessageFormSecondLineManger"
                                                  tooltip="{{request.DeclineMessageFormSecondLineManger}} "></span>
                                    </div>
                                    <!--2nd line Declined-->
                                    <!--1nd line Declined-->
                                    <div ng-if="request.Status==vm.StatusEnum.Declined">
                                        <span>Not Required</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <!-- End -->
                    <td class="text-left text-nowrap">
                        <button class="btn btn-primary btn-xs glyphicon glyphicon-envelope" ng-click="vm.ResendEmail(request.LinkedRequestId, vm.ApprovalType.LineManager)" ng-disabled="!vm.emailEnabled" ng-if="request.Status===vm.StatusEnum.Created" tooltip="Resend Email" type="button"></button>
                        <button class="btn btn-primary btn-xs glyphicon glyphicon-remove" ng-click="vm.cancelHolidayRequest(request)" ng-if="request.ShowCancelHolidayRequestButton" tooltip="Delete / Cancel" type="button"></button>
                        <button class="btn btn-primary btn-xs glyphicon glyphicon-remove" ng-click="vm.deleteHolidayRequest(request)" ng-if="request.ShowDeleteButton" tooltip="Delete / Cancel" type="button"></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row" ng-if="vm.holidayRequests.length > 0">
    <div class="col-sm-6 pull-right-md">
        <div class="pull-right-md text-center-sm">
            <pagination boundary-links="true" class="pagination-sm" items-per-page="vm.pageSize" max-size="5" ng-change="vm.pageChanged(vm.page)" ng-model="vm.page" num-pages="vm.totalPages" rotate="false" total-items="vm.totalCount"></pagination>
        </div>
    </div>
    <div class="col-sm-6">
        <br/>
        <pagination-info class="text-center-sm"></pagination-info>
    </div>
</div>