﻿<div class="body-content">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form name="form" name="form" role="form" ng-submit="vm.submit()">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group-sm" novalidate>
                            <label class="col-sm-3 control-label">Username<strong>*</strong></label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input autofocus class="form-control input-sm" name="username" ng-model="vm.loginModel.Username" required type="text" />
                                </div>
                            </div>                           
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group-sm" novalidate>
                            <label class="col-sm-3 control-label">Password<strong>*</strong></label>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input autofocus class="form-control input-sm" name="password" ng-model="vm.loginModel.Password" required type="password"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" type="submit">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>