﻿body {
    padding-top: 70px;
    padding-bottom: 20px;
    font-family: Verdana;
    font-size: 12px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 30px;
    padding-right: 30px;
}


.navbar .navbar-brand {
    background: url(../content/images/icon.png) no-repeat left center !important;
    margin: 0;
}

.navbar .brand-title {
    margin-left: 2.5em;
    color: #FFFFFF;
}

.navbar-logo img {
    height: 20px;
    margin-left: -2em
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-brand-image {
    float: left;
    height: 30px;
    padding: 15px 5px 15px 0;
}

fieldset legend button {
    margin-bottom: 5px !important;
}

/* Table styles */

table.table thead > tr > th {
    vertical-align: top;
}

table.table tbody > tr > td.vert-align-middle {
    vertical-align: top;
}

table.table tbody > tr > td > textarea {
    resize: none;
    min-height: 120px;
}

table.table.table-clickable tbody > tr {
    cursor: pointer;
}

table.table.th.no-border {
    border: none !important;
}


th.th-vertAlignMiddle {
    vertical-align: middle !important;
}

.table {
    border-collapse: collapse !important;
}


/* Ratings */
.glyphicon.glyphicon-star {
    color: gold;
    cursor: pointer;
}

.glyphicon.glyphicon-star-empty {
    color: grey;
    cursor: pointer;
}

.large {
    font-size: 1.5em;
}

/* Radio Buttons */
.radio input[type="radio"] {
    position: static;
}

/* NgTasty */
th.sortable {
    cursor: pointer;
}

/* Tables */
table.table tbody tr td .form-group {
    margin-bottom: 0;
}

table.table tbody .highlight {
    background-color: #FFE5A0;
}

.colorRed {
    font-family: Verdana;
    font-size: 12px;
     color: red;
}


.colorGreen {
    font-family: Verdana;
    font-size: 12px;
    color: green;
}

.glyphicon.glyphicon-red {
    color: red;
}

.glyphicon.glyphicon-green {
    color: green;
}
.glyphicon.glyphicon-blue {
    color: #357ebd;
}

.glyphicon.glyphicon-Orange {
    color: orange;
}


.clickable {
    cursor: pointer;
}

.modal-scrollable-body {
    max-height: 600px;
    overflow-y: auto;
}

.custom-tabs-content {
    margin-top: 10px;
}

.grey {
    background-color: #DEDEDC;
}

.no-pad {
    padding: 0 !Important;
}

.activity-header > table {
    width: 100%;
}

    .activity-header > table tr td {
    padding: 5px;
}

.respond-box {
    overflow-x: scroll !Important;
    -webkit-overflow-scrolling: auto;
    overflow-scrolling: auto;
}

#baseLineTable {
    margin-bottom: 40px;
}

th.rotate, td.rotate {
    text-align: left;
    white-space: pre-wrap;
    min-width: 80px;
    max-width: 80px;
    padding: 0 !Important;
}

th.rotate > div, td.rotate > div {
    height: 180px;
    max-height: 220px;
    min-width: 220px;
    max-width: 220px;
}

        th.rotate > div span, td.rotate > div span {
    height: 220px;
    max-height: 220px;
    min-width: 220px;
    max-width: 220px;
}


    th.rotate > div, td.rotate > div {
        transform: translate(-65px, 0px) rotate(270deg);
}

    th.rotate.first-col > div, td.rotate.first-col > div {
        transform: translate(-50px, 0px) rotate(270deg);
}

th.rotate > div > span, td.rotate > div > span {
  /*border-bottom: 1px solid #ccc;*/
    /*text-align: left;*/
  /*padding: 15px 15px;*/
}

.csstransforms, th.rotate {
  height: 210px;
  white-space: nowrap;
}

#first-cell {
     position: absolute; 
     z-index: 1;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

#baseLineContainer {
    position: relative;
    right: 30px;
}

#legend {
    position: absolute;
}

.activity-cell {
    height: 80px;
    max-height: 80px;
    min-width: 120px;
}

@media(min-height: 800px) {
    .modal-scrollable-body {
        max-height: 750px;
    }
}

.placeholder {
    color: rgb(119,119,119);
}

@media screen and (min-width: 768px) {
    .nav-wizard > li:nth-child(even) {
        padding: 0 5px;
    }

    .nav-wizard > li:last-child {
        padding-right: 0;
    }
}

@media screen and (max-width: 767px) {
    .nav-wizard > li + li {
        margin-left: 0;
    }
}


.splash {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.60);
    z-index: 5000;
    display: block;
    opacity: 0.7;
}

.splash > .splash-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /*Needed for ie9*/
    padding: 25px;
    background-color: hsl(0, 0%, 100%);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    min-width: 300px;
}

user-modal {
      position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.60);
    z-index: 5000;
    display: block;
}

.user-modal > .user-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /*Needed for ie9*/
    padding: 5px 15px;
    background-color: hsl(0, 0%, 100%);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 255, .3);
    /*animation: borderFlash 3s infinite;*/
    border-radius: 10px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    min-width: 450px;
    min-height: 125px;
}

@keyframes borderFlash{
    0%   { border-color: rgba(0, 0, 255, .3); }
    50%  { border-color: rgba(0, 0, 255, .5); }
    100% { border-color: rgba(0, 0, 255, 1); }
}


.form-group-static {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .panel-body-scrollable {
        max-height: 300px;
        overflow-x: auto;
    }
}

.signature-box {
    font-style: italic;
    border: solid 1px black;
    padding: 10px 20px;
}

@media (min-width: 768px) {
    .pull-right-md {
        float: right !important;
    }

    .text-right-md {
        text-align: right !important;
    }
}

@media (max-width: 767px) {
    .text-center-sm {
        text-align: center !important;
    }
}

@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
    }
}

@media (min-width:1919px) {
    .modal-xl {
        width: 1730px;
    }
}

legend .btn {
    margin-bottom: 5px;
}

input.check-box {
    margin-left: 10px;
    margin-top: 0px;
}

.has-error .btn {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}

ol.as-sortable-dragging {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

    ol.as-sortable-dragging li {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }

li.as-sortable-placeholder {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    border-radius: 4px;
    border: 1px solid transparent;
}

.as-sortable-item, .as-sortable-placeholder {
    display: block;
}

.as-sortable-item {
    -ms-touch-action: none;
    touch-action: none;
}

.as-sortable-item-handle {
    cursor: move;
}

.as-sortable-drag {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.as-sortable-hidden {
    display: none !important;
}

.as-sortable-un-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


    .LowestUnitsPerWeek > input {
    background-color: rgb(255,199,206) !important;
        color: rgb(156,0,6);
}

        .LowestUnitsPerWeek {
    background-color: rgb(255,199,206) !important;
        color: rgb(156,0,6);
}

.FutureMaximumTimePerUnit > input {
    background-color: rgb(197,217,241) !important;
    color: rgb(0,0,255);
    }


    .rowSelect tr:hover {
    background-color: #F8FFD8 !important;
    }

        .rowSelect td:hover {
    background-color: #EFFFA5 !important;
    }


.monitor-input-sm {
    padding: 2px 5px !important;
    height: 25px;
    width: 48px;
    font-size: 10px;
    margin: -5px -5px -5px -5px;
}

.monitor-datepicker {
    height: 27px;
    margin-left: -2px;
    margin-bottom: -14px;
    margin-top: -18px;
    padding: 2px 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 38px;
}

.monitor-date-field {
    min-width: 40px; 
    max-width: 40px;
}

.monitor-date-field-lg {
    min-width: 50px; 
    max-width: 50px;
}

.readonly-dateField {
    color: darkgrey !important;
}

.datepicker-above {
  position: relative;
}

.datepicker-above .dropdown-menu {
   top: -280px !important;
   left: 30px;
}

.above-left .dropdown-menu {
    left: -264px !important;
    }

.onhold-div {
    height: 31px;
    margin: 0;
    margin-left: -9px;
    margin-bottom: -8px;
    margin-right: -9px;
    margin-top: -8px;
}
    
.pointer {
    cursor: pointer;
}


th.th-grey {
    background-color: #DEDEDC;
    }



.chart-height {
    min-height: 80vh;
}


.modal-fh {
    min-width: 90vw;
}


.table > thead > tr > td.unit-warning, .table > tbody > tr > td.unit-warning, .table > tfoot > tr > td.unit-warning, .table > thead > tr > th.unit-warning, .table > tbody > tr > th.unit-warning, .table > tfoot > tr > th.unit-warning, .table > thead > tr.unit-warning > td, .table > tbody > tr.unit-warning > td, .table > tfoot > tr.unit-warning > td, .table > thead > tr.unit-warning > th, .table > tbody > tr.unit-warning > th, .table > tfoot > tr.unit-warning > th {
    background-color: #F7922D;
    /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQIW2NkQAL/GRj+M8L4UA4jWADGAbEZkTkgAQAQeggDykvDegAAAABJRU5ErkJggg==) repeat;*/
}

.onHold {
    background-color: #DEDEDC !important;
}

table.font-sm {
    font-size: 0.9em;
}

.progress-alert-overdue {
    /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAO3V6z4z4gsBhJQjYhghAvCBECKwILIAmBBdAGQIADF7BMw2uIzMQAAAABJRU5ErkJggg==) repeat !important;*/
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAMElEQVQIW2P8+vLlfwYkcH3NGgZGZEGQgGZICEIQJgDSBFaJLAAWPDN16n+QFmQAAAVNHhMwx7w6AAAAAElFTkSuQmCC) repeat !important;
    color: #a94442;
    font-weight: bold;
}

.progress-alert-danger {
      color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  font-weight: bold;
}

.progress-alert-success {
color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  font-weight: bold;
}

.min-max80 {
    -moz-min-width: 80px;
    -ms-min-width: 80px;
    -o-min-width: 80px;
    -webkit-min-width: 80px;
    min-width: 80px;
}

colgroup.inbound {
    border: 2px #8C8C8C solid !important;
}

.table.collapsed {
    border-collapse: collapse;
}

.table-border-Left {
    border-left: 2px #8C8C8C solid !important;
}

.table-border-top {
    border-top: 2px #8C8C8C solid !important;
}

.table-border-bottom {
    border-bottom: 2px #8C8C8C solid !important;
}

.table-maintain > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #cacac8;
    border-right: 1px solid #cacac8;
}

.table-maintain > tbody > tr > td {
    vertical-align: bottom;
    border-bottom: 1px solid #cacac8;
    border-right: 1px solid #cacac8;
}
   
.dropdown-span {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .vr {
        border-left: 1px solid #ddd;
    }
}

.IE8Text {
    font: 15px areal, sans-serif;
}

    .IE8Text a {
        font: 15px areal, sans-serif;
        text-decoration: underline;
    }

.IE8HeaderText {
    font: 25px areal, sans-serif;
    padding: 10px 0;
}

.IE8Icon {
    font-size: 100px;
    padding-bottom: 25px;
}

.big-checkbox {
    height: 30px;
    width: 30px;
}
.big-glyph {
    font-size: 1.3em;
}

.datepicker-left1-holidays .dropdown-menu {
    left: -95px !important;
    top: 25px !important;
    width: 300px !important
}

.datepicker-left2-holidays .dropdown-menu
{
    left: -90px !important;
    top: 30px !important;
    width: 290px
}

.datepicker-left2 .dropdown-menu
{
    left: -190px !important;
    top: 30px !important;
    /*width: 298px;*/
}

.datepicker-left3 .dropdown-menu
{
    left: -300px !important;
    top: 30px !important;
    /*width: 298px;*/
}

.panel-heading {
    padding: .5em 1em .1em 1em;
}


@keyframes hightlight{
    0%   {background-color: #bce8f1 }
    50%  {background-color: white }
    100% {background-color: #bce8f1 }
}


.navbar-btn {
  margin-top: .5em;
  margin-bottom: .5em;
}

.infoText {
    font-size: 1.1em !important; 
    padding: .3em .5em .3em .5em;
}

/* Stats Clases */
    .bblue {
        background: #428bca !important;
        color: #fff !important;
        border: 0 !important;
    }

    .bred {
        background: red !important;
        color: #fff !important;
        border: 0 !important;
    }

    .bgreen {
        background: #008000 !important;
        color: #fff !important;
        border: 0 !important;
    }

    .borange {
        background: #ff8c00 !important;
        color: #fff !important;
        border: 0 !important;
    }

     .byellow {
        background: #f4a460 !important;
        color: #fff !important;
        border: 0 !important;
    }

    .bgray {
        background: #555555 !important;
        color: #fff !important;
        border: 0 !important;
    }

    .today-datas {
        list-style-type: none;
        padding: 0;
        margin: 10px 0;
    }

    .today-datas li {
        display: inline-block;
        margin-bottom: 5px;
        margin-right: 10px;
        padding: 1em 1em;
        background-color: #f8f8f8;
        background: #f8f8f8;
        border: 1px solid #ccc;
        max-width: 100%;
        text-align: center;       
    }

    .today-datas li .spark {
        margin-right: 10px;
    }

    .today-datas li .datas-text {
        font-size: 13px;
        padding: 5px 0 0 0;
        font-weight: normal;
        margin-bottom: -10px
    }

    .today-datas li .datas-text span {
        display: block;
        font-size: 15px;
        margin-bottom: 2px;
    }

     .today-datas li a {
        color: white !important
    }

      .today-datas li a:hover {
          color: red !important;
    }

    .today-datas li i {
        font-size: 30px;
        margin-right: 10px;
    }

    .today-datas li .dial {
        margin-right: 10px !important;
    }

     .today-datas li .footnote {
        margin-top: -15px !important;
         margin-bottom: -2px;
    }


    .today-datas li .footnote span {
        font-size: .9em !important;
    }

    .actionItem {
        margin-left: .8em;
        font-size: 1em;
    }

    .validation-error-input {
         border-color: #b94a48 !important;
         color: #b94a48 !important;
         background-color: #f2dede;
         -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392 !important;
         box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392 !important;
    }
    
    .validation-error-button {
        border-color: #b94a48 !important;
        box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 6px #d59392 !important;
    }

    .table-panel {
        border: 1px solid silver; 
        padding: 5px 5px 0 5px; 
        border-radius: 10px;        
    }


     .modal-header .closeSteve {
        margin-top: -2px;
        position: absolute;
        top: -30px;
        opacity: 1;
        right: -15px;
    }

     .modal-header .closeSteve:before {
        /*content: "\f00d";*/
        font-size: 1.2em;
        font-family: FontAwesome;
    }
  
     .closeSteve {
        font-weight: lighter;
        text-shadow: none;
        background: #555555;
         border: none;
        border: 1px solid #555555;
        border-radius: 15px;
        color: white;
        font-size: 1.2em;
     }

     .modal {
         top: 200px;
     }