﻿<div class="body-content">
    <div class="row">
        <h4>{{ vm.Company.Name }}: Order Picking</h4>
        <h5>{{vm.UserFullName}}</h5>
        <hr>
        <div class="col-sm-7">
            <ul class="today-datas">
                <li class="bgray clickable" ng-click="vm.AssignBatch()">
                    <div class="pull-left">
                        <i class="fa fa-barcode"></i>
                    </div>
                    <div class="datas-text pull-right">
                        <span class="bold ng-binding">{{ vm.DashboardData.PendingOrders }}</span> Pending
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <div class="pull-left footnote">
                        <span>{{ vm.DashboardData.PendingOrderItems }} Items</span>
                    </div>
                </li>

                <li class="bred" ng-if="vm.DashboardData.OutOfStockOrders > 0">
                    <div class="pull-left">
                        <i class="fa fa-hourglass-end"></i>
                    </div>
                    <div class="datas-text pull-right">
                        <span class="bold ng-binding">{{ vm.DashboardData.OutOfStockOrders }}</span> Out Of Stock
                    </div>
                    <div class="clearfix"></div>
                    <hr/>
                    <div class="pull-left footnote">
                        <span>{{ vm.DashboardData.OutOfStockOrderItems }} Items</span>
                    </div>
                </li>

                <li class="bgreen" ng-if="vm.DashboardData.InStockOrders > 0" ng-click="vm.ShipOrders()">
                    <div class="pull-left">
                        <i class="fa fa-truck"></i>
                    </div>
                    <div class="datas-text pull-right">
                        <span class="bold ng-binding">{{ vm.DashboardData.InStockOrders }}</span> Ready To Despatch
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <div class="pull-left footnote">
                        <span>{{ vm.DashboardData.InStockOrderItems }} Items</span>
                    </div>
                </li>

            </ul>
        </div>
    </div>

    <hr>
    <div ng-include="'app/supplier/stockPicking/PickingList.html'"></div>    
</div>

<div class="splash" ng-if="!vm.appPoolAwake">
    <div class="splash-content">
        <h3 class="text-center">Processing. . .&nbsp;&nbsp;<img src="app/images/progressBar.gif" height="5px" /></h3>
    </div>
</div>
