﻿<div class="row" ng-if="vm.PickingList.length > 0">
    <form name="emailForm" role="form" novalidate="">
        <div class="col-sm-6 pull-right">
            <div class="input-group">
                <input type="text" class="form-control input-sm"
                       name="email"
                       ng-class="{'validation-error-input': emailForm.email.$invalid && emailForm.email.$dirty}"
                       ng-pattern="vm.emailFormat"
                       ng-model="vm.overideEmailAddress" placeholder="{{vm.UserEmail}}" />
                <span class="input-group-btn" ng-if="vm.PrintApplicationUrl">
                    <a class="btn btn-sm btn-primary" href="{{vm.PrintApplicationUrl}}">
                        Print&nbsp;
                        <i class="fa fa-print"></i>
                    </a>
                    <button type="button" class="btn btn-sm btn-primary"
                            ng-disabled="emailForm.email.$error.pattern"
                            ng-class="{'validation-error-button': emailForm.email.$invalid && emailForm.email.$dirty}"
                            ng-click="vm.EmailBatch()">
                        Email&nbsp;<i class="fa fa-envelope-o"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Download&nbsp;&nbsp;<i class="fa fa-save"></i>
                        &nbsp;&nbsp;<i class="caret"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li ng-click="vm.Download(vm.fileFormat.Excel)"><span class="clickable actionItem">Excel Format</span></li>
                        <li ng-click="vm.Download(vm.fileFormat.Csv)"><span class="clickable actionItem">CSV Format</span></li>
                    </ul>
                </span>
            </div>
            <span class="has-error help-block">
               <span class="control-label" ng-show="emailForm.email.$error.pattern">
                    Invalid email address
                </span>
            </span>
        </div>
    </form>

    <div class="clearfix" style="margin-bottom: 1em"></div>

    <div class=" col-sm-12">
        <div class="pre-scrollable" style="overflow-x: hidden !important; overflow-y: auto !important; max-height: 60vh !important">
            <div class="row" style="margin-bottom: 20px !important;">
                <div class="col-sm-12" ng-if="vm.Errors.length > 0">
                    <div class="panel panel-info">
                        <div class="panel-heading"> Please address the error(s) below</div>
                        <div class="panel-body" style="color: #3a87ad !important">
                            <p ng-repeat="error in vm.Errors">Row {{error.Row}} : {{error.Error}} </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <table class="table table-striped table-condensed table-bordered" ng-if="vm.PickingList.length > 0">
                        <thead>
                        <th>Product Code</th>
                        <th>EAN Code</th>
                        <th>WG Product Code</th>
                        <th>Product Name</th>
                        <th>Order Qty</th>
                        <th>Out Of Stock</th>
                        <th>Stock Qty</th>
                        </thead>
                        <tr ng-repeat="product in vm.PickingList">
                            <td>{{product.SupplierProductCode}}</td>
                            <td>{{product.EanCode}}</td>
                            <td>{{product.ProductCode}}</td>
                            <td>{{product.ProductName}}</td>
                            <td>{{product.OrderQty}}</td>
                            <td><input type="checkbox" class="checkbox checkbox-inline" ng-model="product.OutOfStock" ng-click="vm.OutOfStockClicked(product)" /></td>
                            <td>
                                <input type="number" class="input input-sm" style="width: 50px; height: 25px; padding: .5px 2.5px"
                                       ng-model="product.QtyAvailable"
                                       ng-disabled="product.OutOfStock === false" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom" style="border-top: 1px solid silver">
        <div class="body-content">
            <div class="row" style="padding-top: .8em !important">
                <div class="col-sm-12">
                    <button class="btn btn-sm btn-success"
                            ng-disabled="vm.PartialStock === true"
                            ng-click="vm.PickAll()">
                        All In Stock&nbsp;&nbsp;<i class="glyphicon glyphicon-thumbs-up"></i>
                    </button>
                    <button class="btn btn-sm btn-primary pull-right"
                            ng-if="vm.StockValidated === true"
                            ng-click="vm.SaveData()">
                        Process&nbsp;&nbsp;<i class="glyphicon glyphicon-transfer"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>